<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Assign Rooms</title>
		<link th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/> 
		<link rel="stylesheet"  href="../css/style.css"/>
</head>	
<body>
	<!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
	<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<tr><th>Beacon</th>
				<th>Description</th>
				<th>Room</th>
				<th>Action</th>
			</tr>
			<tr th:each="beacon : ${beacons}">
				<td th:text="${beacon.id}"></td>
				<td th:text="${beacon.description}"></td>
				<td th:text="${beacon.roomName}"></td>
				<td><a th:href="@{/assignRoom(name=${beacon.id})}">assign room</a></td>
			</tr>
		</table>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
<script src="../js/popup.js"></script>
</body>
</html>